<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>University</title>
</head>
<body>
<form method="post">
    Выберите группу
      <select  name="groupId" size="1" >

        <th:block  th:each="group:${groups}">
            <option select th:value="${group.id}"> [[${group.number}]]
        </th:block>

    </select>
    Название предмета
    <select name="subjectId" size="1">

        <th:block th:each="subject:${subjects}">
            <option select th:value="${subject.id}"> [[${subject.subjectName}]]
        </th:block>

    </select>
    <button>Save</button>
    <br> <br>
    <a href="/">На главную</a>
</form>
</body>
</html>