<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>University</title>
</head>
<body>
<form method="post">
    Введите номер группы <input name="number" data-th-value="${group.number}">

    Название предмета
    <select name="teacherId" size="1">

        <th:block th:each="teacher:${teachers}">
            <option select th:value="${teacher.id}"> [[${teacher.object}]]
        </th:block>

    </select>
    <button>Save</button>
    <br> <br>
    <a href="/">На главную</a>
</form>
</body>
</html>