<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>University</title>
</head>
<body>
<h1 align="center" style="background-color:darkgreen"> Добро пожаловать в универститет улиток!!!  </h1>

<h5 class="card-title">Список студентов</h5>
<a href="/students" class="btn btn-danger" type="submit">Перейти</a>



<h5 class="card-title">Список учителей</h5>
<a href="/teachers" class="btn btn-danger" type="submit">Перейти</a>



<h5 class="card-title">Список групп</h5>
<a href="/groups" class="btn btn-danger" type="submit">Перейти</a>

<br>     <br>
<a data-th-href="@{/rating/0/edit}">Добавить рейтинги учащегося</a>
<br>     <br>
<a href="/ratings" class="btn btn-danger" type="submit">Посмотреть существующие рейтинги</a>
</body>
</html>