<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>University</title>
</head>
<body>
<form method="post">
    Список предметов группы
    <li data-th-each="subject : ${subjects}">
        <h2>[[${subject.subjectEntity.subjectName}]]</h2>
</form>
<br> <br>
<a data-th-href="@{/group/{id}/edit(id=${group.id})}" style="color: red">Редактировать</a>
<a data-th-href="@{/group/{id}/remove(id=${group.id})}" style="color: red">Удалить группу</a>
<br> <br>
<a href="/">На главную</a>
</body>
</html>